.QuizPanelTopText{background-color: #0a56a5;
}

 p{color:#fff; font-size:20px;}

 .Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    background-color: #0a56a5;
  
  }

  .CardAns {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #f1f1f1;
  }